header {
  padding: 156px 0 100px;
}

.navbar-brand img {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

section {
  padding: 150px 0;
}

#start-using-respondo a {
  font-size: 4em;
  height: 3em;
  line-height: 2.5em;
}
