---
layout: page
title: Pricing
nav_order: 3
description: |
  Easy and flexible pricing based on your team size. Monthly subscription with
  the possiblity of a discounted annual subscription.
---

<div class="px-3 py-3 pt-lg-5 pb-lg-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">Billing is automatically updated when you change your team roster.</p>
</div>

<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-lg">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Free</h4>
    </div>
    <div class="card-body d-flex flex-column">
      <h1 class="card-title">$0 <small class="text-muted">/ user / mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        {% assign free_features = site.data.features | where: 'plan', 'free' %}
        {% for free_feature in free_features %}
        <li><a href="{{ free_feature.documentation_link }}" target="_blank" rel="noopener noreferrer">{{ free_feature.name }}<a></li>
        {% endfor %}
      </ul>
      <a href="https://app.respondohub.com" class="mt-auto btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
    </div>
  </div>
  <div class="card mb-4 shadow-lg">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Paid</h4>
    </div>
    <div class="card-body d-flex flex-column">
      <h1 class="card-title">$0 <small class="text-muted">/ user / mo</small><span class="text-muted">*</span></h1>
      <p><small class="text-muted">while in Beta</small></p>
      <ul class="list-unstyled mt-3 mb-4">
        {% assign paid_features = site.data.features | where: 'plan', 'paid' %}
        {% for paid_feature in paid_features %}
        <li><a href="{{ paid_feature.documentation_link }}" target="_blank" rel="noopener noreferrer">{{ paid_feature.name }}<a></li>
        {% endfor %}
        <li>Email support</li>
      </ul>
      <a href="https://app.respondohub.com" class="mt-auto btn btn-lg btn-block btn-primary">Get started</a>
    </div>
  </div>
  <div class="card mb-4 shadow-lg">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Enterprise</h4>
    </div>
    <div class="card-body d-flex flex-column">
      <h1 class="card-title">Custom <small class="text-muted">/ yr</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Priority support</li>
        <li>Hand crafted contract</li>
        <li>Discounted annual subscription</li>
      </ul>
      <a href="mailto:office@respondohub.com" class="mt-auto btn btn-lg btn-block btn-primary">Get in touch</a>
    </div>
  </div>
</div>
