---
nav_skip: true
---

@import "{{ site.theme }}";

.section-title::before{
  display: block;
  content: '';
  height: 0.25rem;
  width: 8rem;
  transform: translateY(3rem);
  background: linear-gradient(90deg, rgba(21,127,251,1) 0%, rgba(17,93,181,1) 100%);
}

.blue {
  color: #157ffb;
}
